<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Veterinaria Petisos </title>
</head>

<body style="background-color:green;">
    <div class="container">
        <div class="row">

            <div class="col">

                <div style="color:white" >
                    <h1 style="text-align: center;">SOLICITUD DE ADOPCION</h1>
                    <form method="post">
                        <div class="form-group">
                            <h6 style="margin: 2%;"><label for="">Nombres:</label></h6>
                            <input type="text" name="nombres" id="" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 style="margin: 2%;"><label for="">Apellido Paterno:</label></h6>
                                <input type="text" name="apellido_paterno" id="" class="form-control">

                            </div>
                            <div class="col">
                                <h6 style="margin: 2%;"><label for="">Apellido Materno:</label></h6>
                                <input type="text" name="apellido_materno" id="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <h6 style="margin: 2%;"><label for="">Tipo de mascota:</label></h6>
                            <select name="tipo_mascota" id="" class="form-select">
                                <option selected>---</option>
                                <option value="perro">Perro</option>
                                <option value="gato">Gato</option>
                            </select>
                        </div>

                        <div class="form-group">
                             <label for="">Descripción:</label>
                             <textarea name="descripcion" id="" cols="30" rows="10" class="form-control"></textarea>
                         </div>

                         <div class="form-group">
                            <h6 style="margin: 2%;"><label for="">Telefono de Contacto:</label></h6>
                            <input type="number" name="telefono" id="" class="form-control" placeholder="ejm:12345678">
                        </div>

                          <div class="form-group">
                            <h6 style="margin: 2%;"><label for="">Distrito:</label></h6>
                            <select name="distrito" id="" class="form-select">
                                <option selected>---</option>
                                <option value="A">Distrito A</option>
                                <option value="B">Distrito B</option>
                                <option value="C">Distrito C</option>
                            </select>
                        </div>
                      
                        <div class="form-group">
                            <h6 style="margin: 2%;"><label for="">Dirección:</label></h6>
                            <input type="text" name="direccion" id="" class="form-control">
                        </div>                       

                        <button class="btn btn-primary"> Registrar</button>
                       
                    </form>
                </div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>